/* 
    Document   : tests.css
    Created on : May 5, 2011, 10:38:40 AM
    Author     : Administrator
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/