/* 
    Document   : panel.css
    Created on : May 4, 2011, 7:59:12 PM
    Author     : Administrator
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

@font-face {
	font-family: cooper;
	src: url('/fonts/CooperBlackStd.otf');
}

.banner {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 64px;
    
    background-image: url("/images/banner.png");
    background-repeat: repeat-x; 
    
    z-index: 0;
    
    text-align: right;
}

.banner .name {
    padding-right: 90px;
    padding-top: 10px;
    
    font-family: cooper;
    font-size: 14px;
    color: white;
    
    position: relative;
    text-align: right;
    
}

a{
    position: absolute;
    top: -16px;
    right: 10px;
    
    font-family: cooper;
    font-size: 14px;
    color: #cccccc;
    
    position: relative;
    text-align: right;
}

a:hover{
    position: absolute;
    top: -16px;
    right: 10px;
    
    font-family: cooper;
    font-size: 14px;
    color: #66ccff;
    
    position: relative;
    text-align: right;
}

.logo {
    position: relative;
    background-image: url("/images/small_logo.png");
    background-position: center;
    
    width: 60px;
    height: 70px;
    
    margin-right: auto;
    margin-left: auto;
    
    top: -10px;
    
    z-index: 1;
}

.buttonContainer{
    position: relative;
    
    top: -60px;
    width: 100px;
    height: 100px;
    
    margin-right: auto;
    margin-left: auto;
}

.homeButton {
    position: absolute;
    background-image: url("/images/home_button.png");
    
    width: 66px;
    height: 66px; 
    background-position: center;
    
    top: 0px;
    left: -73px;
}

.editTestsButton{
    position: absolute;
    top: 35px;
    left: -30px;
    background-image: url("/images/edit_tests_button.png");
    
    width: 66px;
    height: 66px; 
    background-position: center;
}

.takeTestButton {
    position: absolute;
    top: 50px;
    left: 26px;
    
    background-image: url("/images/take_test_button.png");
    
    width: 66px;
    height: 66px; 
    background-position: center;
}

.addQuestionsButton{
    position: absolute;
    top: 35px;
    left: 82px;
    background-image: url("/images/add_question_button.png");
    
    width: 66px;
    height: 66px; 
    background-position: center;
}

.topButton {
     position: absolute;
    top: 0px;
    left: 128px;
    background-image: url("/images/top_button.png");
    
    width: 66px;
    height: 66px; 
    background-position: center;
}


.homeButton:hover {
    position: absolute;
    background-image: url("/images/home_button_hover.png");
    
    width: 66px;
    height: 66px; 
    background-position: center;
    
    top: 0px;
    left: -73px;
}

.editTestsButton:hover{
    position: absolute;
    top: 35px;
    left: -30px;
    background-image: url("/images/edit_tests_button_hover.png");
    
    width: 66px;
    height: 66px; 
    background-position: center;
}

.takeTestButton:hover {
    position: absolute;
    top: 50px;
    left: 26px;
    
    background-image: url("/images/take_test_button_hover.png");
    
    width: 66px;
    height: 66px; 
    background-position: center;
}

.addQuestionsButton:hover{
    position: absolute;
    top: 35px;
    left: 82px;
    background-image: url("/images/add_question_button_hover.png");
    
    width: 66px;
    height: 66px; 
    background-position: center;
}

.topButton:hover {
     position: absolute;
    top: 0px;
    left: 128px;
    background-image: url("/images/top_button_hover.png");
    
    width: 66px;
    height: 66px; 
    background-position: center;
}