/* 
    Document   : tests.css
    Created on : May 5, 2011, 10:38:40 AM
    Author     : Administrator
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

.test {
    position: relative;
    width: 95%;
    
    margin: 10px;
    height: 30px;
    background: #8c481e; /* Old browsers */
    background: -moz-linear-gradient(top, #8c481e 0%, #af491a 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#8c481e), color-stop(100%,#af491a)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #8c481e 0%,#af491a 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #8c481e 0%,#af491a 100%); /* Opera11.10+ */
    background: -ms-linear-gradient(top, #8c481e 0%,#af491a 100%); /* IE10+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8C481E', endColorstr='#AF491A',GradientType=0 ); /* IE6-9 */
    background: linear-gradient(top, #8c481e 0%,#af491a 100%); /* W3C */
    
    border: white solid 1px;
    border-radius: 5px;
}

.testName {
    font-family: cooper;
    font-size: 14px;
    color: white;
    
    padding: 5px;
}

.testEditButton{
    position: absolute;
    background: url("/images/edit_button.png") center transparent;
    border: none;
    
    left: 95%;
    top: -10px;
    
    width: 50px;
    height: 50px;
}
.testEditButton:hover{
    position: absolute;
    background: url("/images/edit_button_hover.png") center transparent;
    border: none;
    
    left: 95%;
    top: -10px;
    
    width: 50px;
    height: 50px;
}

.addButton {
    position: absolute;
    background: url("/images/add_button.png") center transparent;
    border: none;
    
    right: -25px;
    bottom: -25px;
    
    width: 50px;
    height: 50px;
}
.addButton:hover {
    position: absolute;
    background: url("/images/add_button_hover.png") center transparent;
    border: none;
    
    right: -25px;
    bottom: -25px;
    
    width: 50px;
    height: 50px;
}

.addTest {
    visibility: hidden;
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    
    background-color: rgba(0,0,0,0.7);
    z-index: 2;
}

.createTestButton{
    position: absolute;
    background: url("/images/add_button.png") center transparent;
    border: none;    
    
    width: 50px;
    height: 50px;
}

.testForm{
    margin-left: auto;
    margin-right: auto;
    margin-top: 300px;
    
    width: 300px;
    height: 100px;
    
    background-color: #66ccff;
}

.deleteTestButton{
    position:absolute;
    
    background-color: transparent;
    background-image: url("/images/delete_button.png");
    background-position: center;
    
    border:none;
    
    width: 50px;
    height:50px;
    
    top:-10px;
    right:20px;
}

.deleteTestButton:hover{
    position:absolute;
    
    background-color: transparent;
    background-image: url("/images/delete_button_hover.png");
    background-position: center;
    
    border:none;
    
    width: 50px;
    height:50px;
    
    top:-10px;
    right:20px;
}